<?xml version="1.0" ?>
<module>
  <Login f="nodata">
    <Login>
      <Users t="dropdown" f="user nocertainty noannotation"/>
      <Log_in  t="button" ll="Control"/>
      <Sign_up t="button" l="signup"/>
    </Login>
  </Login>
  <Control f="nodata">
    <Main f="noscroll">
      <Create_New_Locality t="button" f="nocertainty noannotation" l="Column"/>
      <Existing_Localities t="list" f="nocertainty noannotation" e="Column"/>
    </Main>
    <IDS>
      <autonum/>
    </IDS>
    <Map t="map"/>
    <search/>
  </Control>
  <Column>
    <Description>
      <author f="id nocertainty noannotation">
        <str>
          <pos>2</pos>
          <fmt>$2- </fmt>
        </str>
      </author>
      <timestamp f="id nocertainty noannotation">
        Created at
        <str>
          <pos>3</pos>
          <fmt>$2</fmt>
        </str>
      </timestamp>
      <Locality_Name/>
      <Locality_Abbreviated_Name f="id">
        <str>
          <pos>1</pos>
          <fmt>$2- </fmt>
        </str>
      </Locality_Abbreviated_Name>
      <gps/>
      <Type t="dropdown"/>
      <Location/>
      <Thickness_in_cm b="decimal">
        Thickness (cm)
      </Thickness_in_cm>
      <Description/>
      <Section_Photo t="camera"/>
      <Attach_Sketch t="file"/>
    </Description>
    <Units f="noscroll">
      <Create_New_Unit t="button" f="nocertainty noannotation" lc="Unit"/>
      <Existing_Units t="list" f="nocertainty noannotation" ec="Unit"/>
    </Units>
  </Column>
  <Unit>
    <Main>
      <author f="nocertainty noannotation"/>
      <timestamp f="nocertainty noannotation">
        Created at
      </timestamp>
      <Locality_Abbreviated_Name f="id" i="Column/Description/Locality_Abbreviated_Name">
        <str>
          <pos>1</pos>
          <fmt>$2- </fmt>
        </str>
      </Locality_Abbreviated_Name>
      <Unit_ID b="decimal" f="id autonum nocertainty noannotation">
        <str>
        <pos>2</pos>
        <fmt>$2- </fmt>
        </str>
      </Unit_ID>
      <Starts_at_in_cm b="decimal" f="id">
        <str>
        <pos>3</pos>
        <fmt>$2- </fmt>
        </str>
      </Starts_at_in_cm>
      <Ends_at_in_cm b="decimal" f="id">
        <str>
        <pos>4</pos>
        <fmt>$2</fmt>
        </str>
      </Ends_at_in_cm>
      <Composition t="checkbox"/>
      <Fossil_Type t="dropdown"/>
      <Fossil_Subtype/>
      <Fossil_Percentage b="decimal"/>
      <Fossil_Size_in_cm b="decimal"/>
      <Fossil_Shape/>
      <Fossil_Description/>
      <Rock_Type t="dropdown"/>
      <Component_Type t="dropdown"/>
      <Interpretation/>
      <Unit_Photo t="camera"/>
    </Main>
    <Samples f="noscroll">
      <Create_New_Sample t="button" f="nocertainty noannotation" lc="Sample"/>
      <Existing_Samples t="list" f="nocertainty noannotation" ec="Sample"/>
    </Samples>
  </Unit>
  <Sample>
    <Info>
      <author f="nocertainty noannotation"/>
      <timestamp f="nocertainty noannotation">
        Created at
      </timestamp>
      <Locality_Abbreviated_Name f="id nocertainty noannotation" i="Unit/Main/Locality_Abbreviated_Name">
        <str>
          <pos>1</pos>
          <fmt>$2- </fmt>
        </str>
      </Locality_Abbreviated_Name>
      <Unit_ID f="id" i="Unit/Main/Unit_ID">
        <str>
          <pos>2</pos>
          <fmt>$2- </fmt>
        </str>
      </Unit_ID>
      <Sample_ID b="decimal" f="id autonum">
        <str>
          <pos>3</pos>
          <fmt>$2- </fmt>
        </str>
      </Sample_ID>
      <Location_from_top_of_unit_in_cm b="decimal" f="id">
        Location from top of unit (cm)
        <str>
          <pos>4</pos>
          <fmt>$2</fmt>
        </str>
      </Location_from_top_of_unit_in_cm>
      <Description_of_location/>
      <Photo_of_Location t="camera"/>
      <Sample_Label/>
      <Sample_Tag/>
    </Info>
  </Sample>
</module>
