<?xml version="1.0" ?>
<module>
  <Login f="nodata">
    <Login>
      <Users t="dropdown" f="user nocertainty noannotation"/>
      <Log_in  t="button"/>
      <Sign_up t="button"/>
    </Login>
  </Login>
  <Control f="nodata">
    <Main f="noscroll">
      <Create_New_Locality t="button" f="nocertainty noannotation" l="Column"/>
      <Existing_Localities t="list" f="nocertainty noannotation" e="Column"/>
    </Main>
    <IDS>
      <autonum/>
    </IDS>
    <Map t="map"/>
    <search/>
  </Control>
  <Column>
    <Description>
      <author/>
      <timestamp>
        Created at
      </timestamp>
      <Locality_Name/>
      <Locality_Abbreviated_Name/>
      <gps/>
      <Type t="dropdown"/>
      <Location/>
      <Thickness_in_cm b="decimal">
        Thickness (cm)
      </Thickness_in_cm>
      <Description/>
      <Section_Photo/>
      <Attach_Sketch/>
    </Description>
    <Units f="noscroll">
      <Create_New_Unit t="button" f="nocertainty noannotation" lc="Unit"/>
      <Existing_Units t="list" f="nocertainty noannotation" ec="Unit"/>
    </Units>
  </Column>
  <Unit>
    <Main>
      <author/>
      <timestamp>
        Created at
      </timestamp>
      <Locality_Abbreviated_Name/>
      <Unit_ID b="decimal"/>
      <Starts_at_in_cm b="decimal"/>
      <Ends_at_in_cm b="decimal"/>
      <Composition/>
      <Fossil_Type t="dropdown"/>
      <Fossil_Subtype/>
      <Fossil_Percentage b="decimal"/>
      <Fossil_Size_in_cm b="decimal"/>
      <Fossil_Shape/>
      <Fossil_Description/>
      <Rock_Type t="dropdown"/>
      <Component_Type t="dropdown"/>
      <Interpretation/>
      <Unit_Photo/>
    </Main>
    <Samples f="noscroll">
      <Create_New_Sample t="button" f="nocertainty noannotation" lc="Sample"/>
      <Existing_Samples t="list" f="nocertainty noannotation" ec="Sample"/>
    </Samples>
  </Unit>
  <Sample>
    <Info>
      <author/>
      <timestamp>
        Created at
      </timestamp>
      <Locality_Abbreviated_Name/>
      <Unit_ID/>
      <Sample_ID b="decimal"/>
      <Location_from_top_of_unit_in_cmb="decimal">
        Location from top of unit (cm)
      </Location_from_top_of_unit_in_cm>
      <Description_of_location/>
      <Photo_of_Location/>
      <Sample_Label/>
      <Sample_Tag/>
    </Info>
  </Sample>

<logic><![CDATA[
  /*********************************** LOGIN ************************************/
    // Overrides autogenerated definition
    selectUser () {
      String userVocabId  = getFieldValue(userMenuPath);
      if (isNull(userVocabId))
        return;
      String userQ = "SELECT userid,fname,lname,email,password FROM user " +
                     "WHERE  userid='" + userVocabId + "';";
      FetchCallback callback = new FetchCallback() {
        onFetch(result) {
          user = new User(
                result.get(0),
                result.get(1),
                result.get(2),
                result.get(3),
                result.get(4)
          );
          setUser(user);
          username = result.get(1) + " " + result.get(2);
        }
      };
      fetchOne(userQ, callback);
    }
    onClickLogin () {
      showVerifyUserDialog("doUserLogin()");
    }
    onClickSignup () {
      setSyncEnabled(true);
      showCreateUserDialog("signupSuccessful()");
    }
    signupSuccessful() {
      String head  = "Signup Successful";
      String body  = "You have successfuly signed up. You may now log in as the ";
             body += "newly created user.";
      showWarning(head, body);
      populateListForUsers();
    }
    doUserLogin () {
      newTab("Control", true);
    }
    addOnEvent("Login/Login/Log_in",  "click", "onClickLogin()");
    addOnEvent("Login/Login/Sign_up", "click", "onClickSignup()");
]]></logic>
</module>
